* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 255, 255, 0.5);
}

.modal {
  width: 528px;
  height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(red, green, blue, alpha) 0px 1px 1px 0px
    rgba(red, green, blue, alpha);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
}
